.heading {
  display: flex;
  padding: 20px;
}

.heading_flag {
  flex: 1;
  margin-right: 15px;
}

.heading button {
  font-family: var(--font-family);
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.heading_name,
.heading_population,
.heading_capital,
.heading_region {
  width: auto;
  flex: 4;
  font-size: 1.4rem;
  color: var(--text-color-secondary);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_name {
  justify-content: flex-start;
}

.heading_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-secondary);
  margin-left: 2px;
}

.row {
  display: flex;
  align-items: center;
  padding: 25px 15px;

  text-align: center;

  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: 15px;

  box-shadow: var(--box-shadow);
  font-weight: 500;

  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.flag {
  position: relative;
  flex: 1;
  height: 50px;
  margin-right: 16px;
  border: 1px solid transparentize(#b3c5cd, $amount: 0.8);
}

.name,
.population,
.capital,
.region {
  flex: 4;
  color: var(--text-color);
}

.name {
  text-align: left;
  span {
    display: block;
    font-size: 1rem;
    margin-top: 5px;
  }
}
